[Desktop Entry]
Version=1.0
Name=VPN
Comment=Conecta a VPN
Exec=bash -c '/home/anderson/dtpvpn/vpn.sh;$SHELL'
Icon=network_fs
Terminal=true 
Type=Application
Categories=Application;
