.xfce4-panel.vertical{
    border-radius: 10px;
}

#whiskermenu-button {
    margin: 1px;   
    background: #0079fe; 
    border: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}
#whiskermenu-button:hover {
    background: #1089ff;
    border: none;
}

#whiskermenu-button image { 
    background: url("/home/anderson/Imagens/ubuntu-icon-blue-s.png");
    background-size: cover; 
}

scrollbar, scrollbar.vertical, scrollbar.horizontal {
    margin: 0;
}

scrollbar slider {   
    background-image: linear-gradient(#4d5454); 
    border-radius: 3px;
    margin: 2px;
    min-width: 8px;            
    min-height: 8px;           
    transition: background-color 0.3s ease, transform 0.2s ease;
}

scrollbar slider:hover { background-image: linear-gradient(#575e5e); }

scrollbar trough {
    background-color: #e0e0e0; 
    border-radius: 2px;
}

