[Desktop Entry]
Version=1.1
Type=Application
Name=Eclipse IDE
Comment=Uma pequena descrição desta aplicação.
Icon=eclipse
Exec=/home/anderson/jee-latest-released/eclipse/eclipse
Actions=
Categories=Development;X-XFCE;X-Xfce-Toplevel;
X-XFCE-Source=file:///home/anderson/.local/share/applications/menulibre-novo-lan%C3%A7ador.desktop
