[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/anderson/Área de Trabalho/VPN.desktop]
row=0
col=1

[/home/anderson/Área de Trabalho/Postgres Containers.desktop]
row=2
col=0

[SAMSUNG Android]
row=3
col=0

[Lixeira]
row=0
col=0

[/]
row=1
col=1

[/home/anderson]
row=1
col=0

