[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/anderson/Área de Trabalho/chrome-cifhbcnohmdccbgoicgdjpfamggdegmo-Default.desktop]
row=5
col=0

[/home/anderson/Área de Trabalho/chrome-hnpfjngllnobngcgfapefoaidbinmjnm-Default.desktop]
row=4
col=0

[40AB-1304]
row=0
col=0

[Lixeira]
row=1
col=0

[/]
row=2
col=0

[/home/anderson]
row=3
col=0

